<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiotics</title>
</head>
<body>
    <form action=
         "https://mobiologapi.herokuapp.com/login" method="POST">
            <input type="text" name="usern" value="">
            <input type="text" name="pass" value="">
            <input type="submit" placeholder="GO" href="Welcome.html" >
        </form>
</body>
</html>